.header
  .header__title
    =link_to  "Surveyy", root_path, class: 'get'
  %ul.header__menu#menu
    %li
      &nbsp;&nbsp;&nbsp;category
      %ul#category
        %li.header__menu__category
          -Category.all.order('id DESC').each do |cate|
            .header__menu__category__list
              = link_to cate.name, category_path(cate.id)

  .header__search
    %i.fas.fa-search
  - if user_signed_in?
    .header__mypage
      =link_to  "mypage", user_path(current_user.id), class: 'get'
    .header__logout
      =link_to  "logout", destroy_user_session_path, method: :delete, class: 'get'
  - else
    .header__login
      =link_to  "login/register", new_user_session_path, class: 'get'